<template name="bcp1">



    <!--LETTING DETIAL PAGE-->

    <div id="fully-confirm" style="display:none;">

        <div class="refund-div"><h2>Congratulations!</h2></div>
        <div class="profile-text">
            <h3><span><img src="/images/tick-mark.png"></span> Your application is successful for {{data.PD.address.address}}</h3>

            <p> We have send your application to Landlord he will contact you if your application is chosen. A detailed e mail has been sent to your mail id.</p>


            <button class="blue-btn btns closePopupBtn" type="button">OK</button>

        </div>
    </div>
    <script>
        var _map_dynamic="map-canvas";

    </script>


    <!--<div id="developer" class="border mar-btm-10">-->
    <!--<div class="head-border-bottom"><h2>The Developer</h2></div>-->
    <!--<div class="developer  background-white ">-->
    <!--<div class="clearfix">-->
    <!--<div class="col-md-12">-->
    <!--<div class="pull-left">-->
    <!--<img src="/images/building-icon.png" alt="">-->
    <!--</div>-->
    <!--<div class="pull-left pad-left-25">-->
    <!--<h3>Puravankara Projects Limited</h3>-->
    <!--<div class="project-detail">-->
    <!--<ul  class="color-grey">-->
    <!--<li>-->
    <!--<span><img src="/images/find-icon.png" alt=""></span><span>Bangalore</span>-->
    <!--</li>-->
    <!--<li class="left-line"><span>Chennai</span></li>-->
    <!--<li class="left-line"><span>Kochi</span></li>-->
    <!--<li class="left-line"><span>Hyderabad</span></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<h5><span><img src="/images/time-icon.png" alt=""></span>48 Years <span  class="color-grey"> in Business</span></h5>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;       <div class="col-md-3">-->
    <!--<h5 class="heading-reg">Handed over</h5>-->
    <!--<div class="handed-proj-bg clearfix">-->
    <!--<div class="col-md-6">-->
    <!--<div>-->
    <!--<h3>24</h3>-->
    <!--<h4 class="pad-btm-0">projects</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6" style="padding:0">-->
    <!--<div class="left-line">-->
    <!--<h3>9500</h3>-->
    <!--<h4 class="pad-btm-0">apartments </h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div> &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="mar-top-20 clearfix">-->
    <!--<div class="col-md-12">-->
    <!--<div class="">-->
    <!--<h5 class="heading-reg">About</h5>-->
    <!--<p class="color-grey pad-btm-10">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>-->
    <!--<a href="javascript:;" class="text-underline" >Read More</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div id="location" class="mar-btm-20  background-white">-->
    <!--<div class="head-border-bottom "><h2>Location</h2></div>-->
    <!--<div class="map-menu navigate-tab">-->

    <!--<ul>-->

    <!--<li><a class="squaredOne trans active" data-type="hospital"><span class="sprite hospital"></span><span>Restaurants</span></a></li>-->
    <!--<li><a class="squaredOne trans" data-type="restaurant"><span class="sprite restrant"></span><span>Hospitals</span></a></li>-->
    <!--<li><a class="squaredOne trans" data-type="bank"><span class="sprite bank"></span><span>Schools</span></a></li>-->
    <!--<li><a class="squaredOne trans" data-type="school"><span class="sprite school"></span><span>Malls</span></a></li>-->
    <!--<li><a class="squaredOne trans" data-type="cafe"><span class="sprite coffee"></span><span>Parks</span></a></li>-->
    <!--</ul>-->

    <!--</div>-->
    <!--<div class="custom-container">-->
    <!--<div class="map-hold wow fadeInUp center animated">-->
    <!--<div class="har-map" data-wow-delay="500ms" id="map-canvas"></div>-->
    <!--</div>-->

    <!--</div>-->




    <!--</div>-->

</template>